/* BaiJamjuree-Bold */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* BaiJamjuree-BoldItalic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* BaiJamjuree-ExtraLight */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

/* BaiJamjuree-ExtraLightItalic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* BaiJamjuree-Italic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* BaiJamjuree-Light */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* BaiJamjuree-LightItalic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* BaiJamjuree-Medium */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* BaiJamjuree-MediumItalic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* BaiJamjuree-Regular */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* BaiJamjuree-SemiBold */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* BaiJamjuree-SemiBoldItalic */
@font-face {
  font-family: "BaiJamjuree";
  src: url("../fonts/BaiJamjuree-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
